/* Add styles for the button */
#showBooksButton {
    margin: 20px; 
}

* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.highlight-title span {
    display: inline;
    background: yellow;
    color: black;
    line-height: 1;
    font-size: 3rem;
    box-decoration-break: clone;
}

/* SAME STYLE FOR BOTH TITLES */
.add-book-title,
.review-title {
    display: inline-block;     
    background-color: white;      
    color: black;
    font-size: 2rem;              
    line-height: 1;
    padding: 0.15em 0.25em;       
    text-decoration: underline;
    margin-top: 0.5em;           
}

body {
    background: #f4f4f4;
    margin: 0;
    background-image: url('/static/hq720.jpg'); 
    background-repeat: repeat;
    background-size: 500px 500px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;     
    color: white;
    padding: 20px;
}

/* BOOKS */
.bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap: 10px;
    padding: 0 30px 30px 0;
}

.book-card {
    background: #000;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    color: white;
}

.book-cover {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* REVIEWS */
.reviews-list {
    margin: 20px 0;
}

.review-card {
    margin-bottom: 15px;
    background: #fff;
    padding: 10px;
}

.book-card:hover{
    transform: scale(1.05);
}

textarea {
    width: 100%;
    max-width: 400px;
    min-height: 60px;
    padding: 10px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, sans-serif;
}